{% include "header.html" %}
	<div class="container">
		<div class="row">
			<!-- Blog Entries Column -->
			<div class="col-md-8">
				<h1 class="page-header">
					Recent Posts
				</h1>
				{% for post in posts %}
				<h2>
					<a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
				</h2>
				<p class="lead">
					by <a>{{ post.author }}</a>
				</p>
				<p>
					<span class="glyphicon glyphicon-time"></span> {{ post.published_date }}
				</p>
				{% if post.image %}
				<hr>
				<img class="img-responsive" src="{{ post.image.url }}" alt="http://placehold.it/900x300">
				{% endif %}
				<hr>
				<p class="lead">{{ post.abstract }}</p>
				<hr>
				<a class="btn btn-primary" href="{% url 'post_detail' post.pk %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
				<hr>
				{% endfor %} 
				<!-- Pager -->
				<ul class="pager">
					<li class="previous">
					{% if next_page == 0 %}
					<a href="{% url 'post_list' %}">&larr; Newer</a>
					{% elif next_page > 0 %}
					<a href="{% url 'post_page' next_page %}">&larr; Newer</a>
					{% endif %}
					</li>
					<li class="next">
					{% if prev_page > 0 %}
					<a href="{% url 'post_page' prev_page %}">Older &rarr;</a>
					{% endif %}
					</li>
				</ul>
				<hr>
			</div>
			<!-- /.col-lg-6 -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->

{% include "footer.html" %}
